@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body {
    background-color: #faf3e0;
}
.main {
    margin-top: 5%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    display: inline;
    font-size: 5rem;
    margin: 0;
    padding: 0;
}
span {
    font-size: 5rem;
}
button {
    font-weight: bolder;
    background-color: transparent;
    border: 5px solid black;
    border-radius: 1rem;
    padding: 1%;
    font-size: 2rem;
    display: inline;
    margin: 3%;
}
button:hover {
    color:white;
}
.decrease:hover {
    background-color: rgba(255, 0, 0, 0.9);
}
.reset:hover{
    background-color: black;
}
.increase:hover {
    background-color: rgba(0, 128, 0, 0.9);
}