.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #16213e;
}

h1 {
  margin: 0;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #000000;
  font-size: 8rem;
  color: #16c79a;
}
h1:hover {
  color:#34e6b9;
}
p {
  font-size: 3rem;
  color: #16c79a;
  font-family: 'Indie Flower', cursive;
}
p:hover{
  color: #34e6b9;
}
img {
  width: 50%;
}
footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

button {
    display: flex;
}

.btn {
  background: #16c79a;
  border: none;
  border-radius: 30px;
  text-shadow: 5px #000000;
  font-family: 'Lobster', cursive;
  color: #000000;
  font-size: 25px;
  padding: 15px 25px 15px 25px;
  text-decoration: none;
  margin: 2vw auto;
  box-shadow: 1px 2px 4px #000000;
}


.btn:hover {
  box-shadow: 2px 4px 8px #000000;
  background: #34e6b9;
  text-decoration: none;
}