@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
    background-color: #eaffd0;
    margin: 0;
    padding: 0
}

button {
    margin: 20vh 43vw 10vh;
    font-size: 2rem;
    border: 0.3rem solid black;
    background-color: transparent;
    padding: 1vw 4vw;
    border-radius: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

button:hover {
    background-color: #845ec2;
}

h3{
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
h3:hover {
    color: #7e47d6;
}
h3::selection {
    color: #eb596e;
    background-color: lightblue;
    padding: 5%;
}